.LesinProxyLogo {
  display: block;
  width: 6.5em;
  height: 2.25em;
  color: var(--lesinproxy-logo-wordmark-color);
}

.LesinProxyLogo {
  display: block;
}

.LesinProxyLogo-horizontal-combination-mark {
  width: 10em;
  height: 2.75em;
}

.LesinProxyLogoCombinationMark--cloudflare-wordmark,
.LesinProxyLogoCombinationMark--workers-wordmark {
  fill: currentColor;
}

.LesinProxyLogoCombinationMark--cloudflare-wordmark {
  opacity: .6;
}
